*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: black;
  padding: 5px 5px;
}

/*card*/
.card {
  background-color: white;
  border-radius: 3rem;
  box-shadow: 0 0 1px 0 grey;
  overflow: hidden;
  max-width: 50rem;
  margin: 0 auto;
}

.card__heading {
  font-size: 2.5rem;
  margin-top: 0;
}

.card__para {
  font-size: 1.5rem;
}

.header__image {
  width: 100%;
}

.card__body {
  padding: 3rem 3rem;
  text-align: center;
}

/*plan*/
.plan {
  border-radius: 2rem;
  background-color: ghostwhite;
  padding: 2rem 2rem;
  max-width: 40rem;
  display: flex;
  margin-bottom: 2rem;
}

.plan__image {
  height: 50px;
  width: 50px;
  padding: 1.5rem 1.5rem;
  align-self: center;
}

.plan-image__container {
  display: inline-flex;
  background-color: lavender;
  border-radius: 100%;
  height: 50px;
  align-self: center;
}

.plan__Link {
  align-self: center;
  font-size: 1.3rem;

  flex-grow: 1;
  text-align: right;
}

.plan__price {
  padding-left: 15px;
}

.plan__price p {
  font-size: 1.5rem;
  margin-top: 0;
}

/*btn*/

.btn {
  width: 100%;
  padding: 2rem 2rem;
  border-radius: 1rem;
  border: none;
}

.btn--strech {
  color: white;
  background-color: royalblue;
  box-shadow: 0 0 2rem 0 royalblue;
}

.btn--none {
  color: darkgray;
  background-color: transparent;
}
