*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: lightblue;
  padding: 5px 5px;
}

/*card*/
.card {
  background-color: white;
  border-radius: 3rem;
  box-shadow: 0 0 1px 0 grey;
  overflow: hidden;
  max-width: 50rem;
  height: 70rem;
  margin: 0 auto;
}

.card__header {
  height: 30%;
  background-color: blue;
}

.card__body {
  padding: 3rem 3rem;
  text-align: center;
}
